:host {
  display: block;
  height: 100vh;
  background: linear-gradient(135deg, #1565c0, #42a5f5); /* blue gradient background */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
}

.login-container {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  width: 360px;
  text-align: center;
}

.title {
  margin-bottom: 25px;
  color: #1565c0;
  font-weight: 700;
  font-size: 22px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-group {
  text-align: left;
}

.field-title {
  margin-bottom: 6px;
  font-size: 15px;
  color: #444;
  font-weight: 600;
}

mat-form-field {
  width: 100%;
}

button {
  background-color: #1565c0;
  color: white;
  font-weight: 600;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;

}

button:hover {
  background-color: #0d47a1;
}
